<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PAG340MiddleWare.Properties.Settings.SqlConnection"
            connectionString="Data Source=DATABASE\CSCI3400011030;Initial Catalog = LIC_PAG; Integrated Security=False;user='LIC_PAG_MW';pwd='PAG';" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>